@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Project</h1>
    <p>Here, I have created Employee Details Project, <p>
        <p>in which we can perform CRUD operation. </p>
    <p>This project is build using Asp .net MVC</p>
</div>
